# Ignore virtual environment
venv/
.env

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore database files
*.sqlite3
instance/

# Ignore log files
*.log

# Ignore VS Code settings
.vscode/

# Ignore dependency packages
node_modules/

#Ignore stdent photo for testing
Studet photo/

# Ignore Not related files
Not related/

.gitignore